[SddmGreeterTheme]
Name=BlueArchive-SDDM-theme
Description=Blue Archive SDDM theme
Author=RhythmGC
Type=sddm-theme
Version=1.3
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=BlueArchive-SDDM-theme
Theme-API=2.0
QtVersion=6
